<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/avatar.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Fredes Mauricio</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eveniet sit error, deserunt debitis enim voluptas fuga obcaecati qui illo! Ipsum modi consequuntur eligendi quia ut nostrum, non minima nesciunt.</p>
        </span>
    </div>
</div>
